/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: NewStyle_header_grey;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 4;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: inherit;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #7290a3;
	color: #ffffff;
	name: Header1;
	id: 3;
	font-family: 'Century Gothic';
	size: 10.5px;
	vertical-align: bottom;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	font-weight: normal;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	background-color: #f2f2f2;
	name: Body1;
	id: 1;
	type: Automatic;
	vertical-align: middle;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	font-family: 'Century Gothic';
	size: 9px;
	text-align: center;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	vertical-align: middle;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	font-family: 'Century Gothic';
	size: 9px;
	text-align: center;
}


/* Cell Styles: */
 
.TableStyle-NewStyle_header_grey
{
	border-collapse: collapse;
	overflow: inherit;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-NewStyle_header_grey-Column-Column1
{
	
}

.TableStyle-NewStyle_header_grey-Head-Header1
{
	height: 10.5px;
}

.TableStyle-NewStyle_header_grey-HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
	vertical-align: bottom;
	background-color: #7290a3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.TableStyle-NewStyle_header_grey-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
	vertical-align: bottom;
	background-color: #7290a3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle_header_grey-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.TableStyle-NewStyle_header_grey-HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
	vertical-align: bottom;
	background-color: #7290a3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle_header_grey-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.TableStyle-NewStyle_header_grey-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
	vertical-align: bottom;
	background-color: #7290a3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.TableStyle-NewStyle_header_grey-HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
	vertical-align: bottom;
	background-color: #7290a3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle_header_grey-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.TableStyle-NewStyle_header_grey-HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
	vertical-align: bottom;
	background-color: #7290a3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.TableStyle-NewStyle_header_grey-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
	vertical-align: bottom;
	background-color: #7290a3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.TableStyle-NewStyle_header_grey-HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
	vertical-align: bottom;
	background-color: #7290a3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.TableStyle-NewStyle_header_grey-HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
	vertical-align: bottom;
	background-color: #7290a3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.TableStyle-NewStyle_header_grey-FootI-Column1-
{
	
}

.TableStyle-NewStyle_header_grey-FootI-Column1- p
{
	
}

.TableStyle-NewStyle_header_grey-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NewStyle_header_grey-FootE-Column1- p
{
	
}

.TableStyle-NewStyle_header_grey-FootF-Column1-
{
	
}

.TableStyle-NewStyle_header_grey-FootF-Column1- p
{
	
}

.TableStyle-NewStyle_header_grey-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NewStyle_header_grey-FootH-Column1- p
{
	
}

.TableStyle-NewStyle_header_grey-FootD-Column1-
{
	
}

.TableStyle-NewStyle_header_grey-FootD-Column1- p
{
	
}

.TableStyle-NewStyle_header_grey-FootC-Column1-
{
	
}

.TableStyle-NewStyle_header_grey-FootC-Column1- p
{
	
}

.TableStyle-NewStyle_header_grey-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NewStyle_header_grey-FootB-Column1- p
{
	
}

.TableStyle-NewStyle_header_grey-FootA-Column1-
{
	
}

.TableStyle-NewStyle_header_grey-FootA-Column1- p
{
	
}

.TableStyle-NewStyle_header_grey-FootG-Column1-
{
	
}

.TableStyle-NewStyle_header_grey-FootG-Column1- p
{
	
}

.TableStyle-NewStyle_header_grey-Body-Body1
{
	height: 9px;
}

.TableStyle-NewStyle_header_grey-BodyI-Column1-Body1
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-BodyI-Column1-Body1 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyE-Column1-Body1
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyE-Column1-Body1 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyF-Column1-Body1
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyF-Column1-Body1 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyH-Column1-Body1
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyH-Column1-Body1 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyD-Column1-Body1
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyD-Column1-Body1 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyC-Column1-Body1
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-BodyC-Column1-Body1 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyB-Column1-Body1
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyB-Column1-Body1 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyA-Column1-Body1
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-BodyA-Column1-Body1 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyG-Column1-Body1
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-BodyG-Column1-Body1 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-Body-Body2
{
	height: 9px;
}

.TableStyle-NewStyle_header_grey-BodyI-Column1-Body2
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-BodyI-Column1-Body2 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyE-Column1-Body2
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyE-Column1-Body2 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyF-Column1-Body2
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyF-Column1-Body2 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyH-Column1-Body2
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyH-Column1-Body2 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyD-Column1-Body2
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyD-Column1-Body2 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyC-Column1-Body2
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-BodyC-Column1-Body2 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyB-Column1-Body2
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NewStyle_header_grey-BodyB-Column1-Body2 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyA-Column1-Body2
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-BodyA-Column1-Body2 p
{
	font-family: 'Century Gothic';
}

.TableStyle-NewStyle_header_grey-BodyG-Column1-Body2
{
	font-family: 'Century Gothic';
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-NewStyle_header_grey-BodyG-Column1-Body2 p
{
	font-family: 'Century Gothic';
}


